<!--food html file-->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="reset.css">
		<!--For now, using the same stylesheet. May change this later-->
		<link rel="stylesheet" type="text/css" href="style.css">
		<title>GROCERAID-FOOD</title>
		<ul>
			<li><div id="options">
				<a href="#"><img class="gear" alt="Gear" src="Images/Gear.png" height="40" width="40"></a>
				<span id="hidden-txt">Settings</span>
			</div></li>
			<li><div id="home">
				<a href="homepage.html"><img class="home" alt="Home" src="Images/home.png" height="40" width="40"></a>
				<span id="hidden-txt">Home</span>
			</div></li>
		</ul>
	</head>

	<body>
		<!--
		Food content
	-->
		<footer>
			<p>This should be our Google sponsorship message</p>
		</footer>
	</body>

	<!--SCRIPTS-->
	</html>

