<!--Homepage for inclusion into index.jade
	First, I will work on a simple page to test out includin into index.jade-->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!--Link stylesheets here-->
		<link rel="stylesheet" type="text/css" href="reset.css">
		<link rel="stylesheet" type="text/css" href="style.css">
		<title>GROCERAID</title>
		<div id="options">
			<a href="settings.html"><img class="gear" alt="Gear" src="Images/Gear.png" height="40" width="40"></a>
			<span id="hidden-txt">Settings</span>
		</div>
	</head>

	<body>
		<div class="Menu">
			<ul class="MenuList">
				<li><a href="#"><img class="mic" alt="Mic" src="Images/mic.png" height="100" width="100" align="middle"></a></li>
				<li><a href="health.html">Health</a></li>
				<li><a href="stores.html">Stores</a></li>
				<li><a href="food.html">Food</a></li>
				<li><a href="recipes.html">Recipes</a></li>
			</ul>
		</div>

		<footer>
			<p>This should be our Google sponsorship message</p>
		</footer>
	</body>


	<!--SCRIPTS-->
</html>

