<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Groceraid</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="stylesheets/css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="stylesheets/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="stylesheets/css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="stylesheets/css/creative.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" ng-app="myApp" ng-controller="myCtrl">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Groceraid</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#food">Food</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#recipes">Recipes</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#suggest">Suggestions</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#stores">Stores</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Support</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Groceraid</h1>
                <hr>
                <p>The future of refrigerators!</p>
                <a href="#food" class="btn btn-primary btn-xl page-scroll">Check your foods</a>
            </div>
        </div>
    </header>

   <!-- food Section -->
        <section id="food" class="success" ng-controller="timeCtrl">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Fridge Contents</h2>
                        <hr class="star-primary">
                    </div>
                </div>

                <table class="center-food-table table-hover">
                    <thead>
                      <tr ng-show="showTable()">
                        <th>Food Name</th>
                        <th>Abundance</th>
                        <th>Time Elapsed (hrs)</th>
                        <th>Increase Abundance</th>
                        <th>Decrease Abundance</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="(key, value) in myWelcome">
                        <td ng-show="hideLessThanZero(value.abundance)">{{ key }}</td>
                        <td ng-show="hideLessThanZero(value.abundance)">{{ value.abundance }}</td>
                        <td ng-show="hideLessThanZero(value.abundance)">{{ (tripDate - value.last_trip) / 3600000 }}</td>
                        <td ng-show="hideLessThanZero(value.abundance)"> <button type="button" class="btn btn-primary" ng-click="plusOne(key)"> + </button> </td>
                        <td ng-show="hideLessThanZero(value.abundance)"> <button type="button" class="btn btn-primary" ng-click="minusOne(key)"> - </button> </td>
                        <!--<td><a class="btn btn-primary" ng-click="vm.remove()"> -->
                      </tr>
                    </tbody>
                  </table>


                <form class="form-inline">
                    <div class="col-sm-12 text-center">
                        <div class="form-group">
                            <label for="Food Name">Add A Food</label>
                            <input ng-model="foodName" type="name" class="form-control" id="Food Name" placeholder="Food Name">
                        </div>
                            <button ng-click="addFood()" type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
                
                  <hr class="timerDivider">
                <div class="timetester" ng-model="timeFunction">
                    <h3>Time until next shopping trip: </h3>
                    {{ Math.floor(counter/3600) }} Hours, {{ Math.floor(counter/60) - 60*(Math.floor(counter/3600)) }} Minutes, {{ counter - (Math.floor(counter/3600) * 3600) - (60 * (Math.floor(counter/60) - 60*(Math.floor(counter/3600)))) }} Seconds
                </div>
                <div class="shoppingMessage" ng-if="counter === 0">
                    <h2 class="shopMessage">Go Grocery Shopping!</h2>
                </div>
            </section>

            <!-- Suggestions Section -->
            <!-- <section id="suggest" class="success" >
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Suggestions</h2>
                        <hr class="star-primary">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6" ng-repeat="recipe in recipes">
                <a href="{{recipe.link}}" class="portfolio-box" target="_blank">
                    <img src="{{recipe.picture}}" class="img-responsive img-circle">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                {{recipe.name}}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section> -->

    <!-- recipes Section -->
    <section id="recipes">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Recipies</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6" ng-repeat="recipe in recipes">
                <a href="{{recipe.link}}" class="portfolio-box" target="_blank">
                    <img src="{{recipe.picture}}" class="img-responsive img-circle">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                {{recipe.name}}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <!-- Suggestions Section -->
    <section id="suggest">
    <div id="i_suggest">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Suggestions</h2>
                <hr class="star-primary">
            </div>
        </div>
        <table class="center-table table-hover">
            <thead>
                <tr>
                    <th>Ingredients:</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="suggestion in suggestions">
                    <td>{{suggestion.ingredient}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    </section>

    <!-- stores Section -->
    <section id="stores" class="success" >
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Stores</h2>
                <hr class="star-primary">
            </div>
        </div>
        <table class="center-table table-hover">
            <thead>
                <tr>
                    <th>Name:</th>
                    <th>Time:</th>
                    <th>Distance:</th>
                    <th>Address:</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stores in stores.result">
                    <td>{{ stores.name }}</td>
                    <td>{{ (stores.seconds / 60) | number:2 | number }} minutes</td>
                    <td>{{ (stores.meters /1000) | number:2 | number }} kilometers</td>
                    <td>{{ stores.address }}</td>
                </tr>
            </tbody>
        </table>
    </section>

    <!-- <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Free Download at Start Bootstrap!</h2>
                <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a>
            </div>
        </div>
    </aside> -->

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Google Support</h2>
                    <hr class="primary">
                    <p>Have any issues or concerns? Please contact our support phone line or visit our support webpage.</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>(855)-836-3987</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="https://www.google.com/intl/en/contact/">https://www.google.com/intl/en/contact/</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="stylesheets/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="stylesheets/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="stylesheets/js/jquery.easing.min.js"></script>
    <script src="stylesheets/js/jquery.fittext.js"></script>
    <script src="stylesheets/js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="stylesheets/js/creative.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="stylesheets/js/Controllers/myApp.js"></script>
    <script src="stylesheets/js/Controllers/myCtrl.js"></script>

</body>

</html>
