<!--Settings page-->

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="reset.css">
		<link rel="stylesheet" type="text/css" href="style.css">
		<title>GROCERAID-SETTINGS</title>
		<div id="home"><a href="homepage.html"><img class="home" alt="Home" src="Images/home.png" height="40" width="40"></a>
			<span id="hidden-txt">Home</span>
		</div>
	</head>
	<body>
		<!--Settings content-->
		<footer>
			<p>This should be our Google sponsorship message</p>
		</footer>
	</body>